<div class="mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">


  <mat-card>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{'MyApp' | translate}}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </div>
      
      <div class="themeChange d-flex align-items-center">
        <p class="mb-0 me-2">
          {{'SelectLang' | translate}}
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold" (click)="setLang('mr')">{{'Marathi' | translate}}</mat-button-toggle>
            <mat-button-toggle value="underline" (click)="setLang('en')">{{'English' | translate}}</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <mat-slide-toggle [(ngModel)]="isDarkTheme" (change)="storeTheme()">
          <mat-icon *ngIf="isDarkTheme == false">dark_mode</mat-icon>
          <mat-icon *ngIf="isDarkTheme == true">light_mode</mat-icon>
        </mat-slide-toggle>
      </div>
    </mat-toolbar>
    <div class="container">
      <section class="mt-2">
        <div class="example-label">{{'Minibutton' | translate}}</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <form class="example-form">
        <mat-form-field class="example-full-width mx-2" >
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
        <mat-form-field class="example-full-width mx-2" appearance="outline">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
        <mat-form-field class="example-full-width mx-2" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
      
        <mat-form-field class="example-full-width m-2" appearance="outline">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
      
      <h2>{{ 'Hello' | translate }}</h2>
    </div>
   

  </mat-card>
</div>